{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
  <h2>All Posts</h2>
  {% if user.is_authenticated %}
  <form action="{% url 'create_post' %}" method="post">
    {% csrf_token %}
    <div class="card" style="width: 100%; margin-bottom: 5px;">
      <div class="card-body">
        <h5 class="card-title">New Post</h5>
        <textarea class="card-content" rows="4" style="width: 100%;" name="content"></textarea>
        <br />
        <button class="btn btn-primary submitButton" type="submit">Post</button>
      </div>
    </div>
  </form>
  {% endif %}

  {% if page %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{ page.previous_page_number }}">Previous Page</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous Page</a>
      </li>
      {% endif %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{ page.next_page_number }}">Next Page</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% for post in page.object_list %}
  <div class="card" style="width: 100%; margin-bottom: 5px;">
    <div class="card-body">
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">
        <h5 class="card-title author">{{ post.author }}</h5>
      </a>
      {% else %}
      <a href="{% url 'profile' post.author.id %}">
        <h5 class="card-title author">{{ post.author }}</h5>
      </a>
      {% endif %}
      {% if user == post.author %}
      <a href="#" class="card-link edit" data-id="{{ post.id }}">Edit</a>
      {% endif %}
      <p class="card-text content" data-id="{{ post.id }}">{{ post.content }}</p>
      <h6 class="card-subtitle mb-2 text-muted date">{{ post.date }}</h6>
      <i class="far fa-thumbs-up" style="color: #007bff;"></i>
      <i id="likeCounter" data-id="{{ post.id }}"> 
        {{ post.like.count }}
      </i>
      </br>
      <div class="btn-group">
        {% if user.is_authenticated %}
        {% if user in post.like.all %}
        <a href="#" class="btn btn-outline-primary like" id="likeButton" data-id="{{ post.id }}">Unlike</a>
        {% else %}
        <a href="#" class="btn btn-outline-primary like" id="likeButton" data-id="{{ post.id }}">Like</a>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-primary like" id="likeButton"
          data-id="{{ post.id }}">Like</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{ page.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{ page.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% else %}
  <div class="card">
    <div class="card-body">
      No posts yet!
    </div>
  </div>
  {% endif %}
</div>
<script src="{% static '/network/index.js' %}"></script>
{% endblock %}